<% layout("layouts/boilerplate") %>

      <body>
            <h3>Delete Listing</h3>

            <p>Are you sure you want to delete this listing?</p>

            <ul>
                  <li><strong>Title:</strong>
                        <%= listing.title %>
                  </li>
                  <li><strong>Location:</strong>
                        <%= listing.location %>
                  </li>
                  <li><strong>Price:</strong>
                        <%= listing.price.toLocaleString('en-AU', { style: 'currency' , currency: 'AUD' }) %>
                  </li>
            </ul>

            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                  <button type="submit">Yes, Delete</button>
            </form>

            <br>

            <a href="/listings/<%= listing._id %>">Cancel</a>
      </body>